## Data_handling 

In this notebook we will handle the merge and of the

In [1]:
import pandas as pd
import numpy as np
import requests
import json
import os

import pandas as pd
import os # for testing use only
import time      # for testing use only
import bs4
from bs4 import BeautifulSoup  
import pandas as pd
import scipy as sc
import numpy as np
import re
from urllib import request #for download excel

In [2]:
def concat_Table_78():
    
    path78='/Users/barbenshabat/Downloads/Datascience/project/Table_78/'
    name78='Table_78_Full-time_Law_Enforcement_Employees_by_State_by_City_201'
    file_name_table_78 = list_edited_name(name78)
    dfs_list = []
    
    for f in range(10):
        df78=pd.read_excel(path78+file_name_table_78[f], index_col=0) # read each file in the folder 
        if f==0: columns_name=df78.columns
        df78=city_value_column_cleaning(df78)
        df78=fit_columns_name(df78,columns_name)
    
        dfs_list.append(df78) # inserting each df to a list

    main_df = pd.concat(dfs_list,axis=0) # concanicating each df into main df 
    main_df.drop(['Unnamed: 0'], axis=1, inplace=True)
    main_df.to_excel('concat_table_78.xlsx',engine='xlsxwriter')
    return main_df

In [15]:
# merging the 2 data sets table 8 and 78
# Law Enforcement & crime statistics

def merge_table8_and_table78():
    
    path_main_Table='/Users/barbenshabat/Downloads/Datascience/project/'
    name_Table_8='merge_table_8.xlsx'
    df8=pd.read_excel(path_main_Table+name_Table_8,index_col=0)
    df8=city_value_column_cleaning(df8)
    
    name_Table_78='concat_table_78.xlsx'
    df78=pd.read_excel(path_main_Table+name_Table_78,index_col=0)
    df78.drop(columns=['Total law enforcement employees','Total officers','Total civilians'], inplace=True)
    
    result = pd.merge(df8, df78, how="outer", on=['Year', 'State', 'City', 'Population'])
    #result.dropna(thresh=10, inplace=True)##think how to fill maybe by avg total police force
    result.to_excel('merge_T_8_and_78.xlsx',engine='xlsxwriter')
    return result

In [16]:
# Editing the City Coulmn 

def city_value_column_cleaning(df):
    for city in df['City']:
        if city[len(city)-1].isnumeric(): 
            df.replace(city, city[:-1], inplace=True)
    return df

In [17]:
# Edit file names 
def list_edited_name(name):
    name_list = []
    for i in range(10):
        name_list.append(name+str(i)+".xls_eddited.xlsx")
    return name_list

In [18]:
# renameing the columns names
def fit_columns_name(df, columns_name):
    for i in range(0,len(columns_name)): df.rename(columns={df.columns[i]:columns_name[i]},inplace=True)
    return df

In [20]:
## handling the nan values after the merge
def merge_table8_and_table78_nan_hendle(df):
    df.dropna(subset=['Total_Police force'], thresh=1, inplace=True)
    #df.fillna(0, inplace=True)
    df.reset_index(drop=True, inplace=True)
    df.to_excel('merge_T_8_and_78.xlsx',engine='xlsxwriter')
    return df

In [19]:
maint=merge_table8_and_table78()

In [29]:
maint=merge_table8_and_table78_nan_hendle(maint)
maint

,Year,State,City,Population,Violent crime,Murder and nonnegligent manslaughter,Forcible rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson1,Total_Police force
0,2010,ALABAMA,Abbeville,2950.0,21.0,1.0,0.0,0.0,20.0,67.0,19.0,45.0,3.0,NaN,28.0
1,2010,ALABAMA,Adamsville,4796.0,10.0,0.0,3.0,2.0,5.0,294.0,21.0,250.0,23.0,NaN,54.0
2,2010,ALABAMA,Addison,714.0,0.0,0.0,0.0,0.0,0.0,33.0,3.0,26.0,4.0,NaN,6.0
3,2010,ALABAMA,Alabaster,30781.0,33.0,0.0,0.0,7.0,26.0,515.0,22.0,458.0,35.0,NaN,154.0
4,2010,ALABAMA,Albertville,20588.0,81.0,0.0,6.0,13.0,62.0,1112.0,346.0,710.0,56.0,NaN,116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76418,2019,WYOMING,Sheridan,17895.0,9.0,0.0,4.0,0.0,5.0,369.0,75.0,278.0,16.0,3.0,86.0
76419,2019,WYOMING,Thermopolis,2830.0,13.0,0.0,0.0,0.0,13.0,34.0,7.0,22.0,5.0,0.0,26.0
76420,2019,WYOMING,Torrington,6709.0,13.0,0.0,4.0,1.0,8.0,48.0,8.0,40.0,0.0,0.0,50.0
76421,2019,WYOMING,Wheatland,3544.0,7.0,0.0,1.0,0.0,6.0,72.0,24.0,45.0,3.0,0.0,18.0
76422,2019,WYOMING,Worland,5026.0,8.0,0.0,5.0,0.0,3.0,36.0,6.0,30.0,0.0,0.0,24.0